@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

@font-face {
  font-family: 'tron';
  src:  url('tron.ttf') format('truetype');
}

html {
  background-color: black;
  background-image: url('tron_city.jpg');
}

#canvas {
  background-image: url('tronbg.jpg');
  display: block;
  margin: auto;
  outline: none;
  position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

  /*padding: 5px;*/
  border: solid 20px #696B77;
  /*box-shadow: 2px 2px 10px #999;*/
  box-shadow: 15px 15px 10px 5px rgba(0,0,0,0.75);
  border-style: ridge;

}

.player1 {
  font-family: tron;
  color: #31FDE8;
  font-size: 2em;
  float: left;
  padding-left: 10%;
}

.player2 {
  font-family: tron;
  color: #FF1818;
  font-size: 2em;
  float: right;
  padding-right: 10%;
}

#turbo1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 0.5em;

}

#turbo2 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 0.5em;
}

#score1 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 0.5em;

}

#score2 {
  font-family: 'Press Start 2P', cursive;
  color: white;
  font-size: 0.5em;
}

.title {
  font-family: 'tron';
  color: white;
  font-size: 5em;
  text-align: center;
}

.hidden {
  display: none;
}

#reset-button {
  font-family: 'tron';
  color: white;
  font-size: 3em;
  position: absolute;
  bottom: 10% ;
  left: 42%;
}
