@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Russo+One);

@font-face {
  font-family: 'tron';
  src:  url('../media/tron.ttf') format('truetype');
}

body {
  background-color: black;
  background-image: url('../media/trondes.jpg');
}

#movie {
  display: block;
  margin: 0 auto;
  outline: none;
  border: ridge 10px rgb(58, 59, 54);

}

#canvas {
  background-color: black;
  background-image: url('../media/tronbg.jpg');
  background-repeat: no-repeat;
  display: block;
  margin: auto;
  outline: none;
  border: ridge 10px rgb(58, 59, 54);
  box-shadow: 15px 15px 10px 5px rgba(0,0,0,0.75);
}

.turbo {
  font-size: .35em;
}

#p1 {
  float: left;
  text-align: left;
}

#p2{
  float: right;
  text-align: right
}

.player1 {
  font-family: tron;
  color: #2BE7FA;
  font-size: 2em;
  text-align: center;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

.player2 {
  font-family: tron;
  color: #FDAA02;
  font-size: 2em;
  text-align: center;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
}

#turbo1 {
  font-family: 'Russo One', cursive;
  color: #2BE7FA;
  font-size: 5em;
  float: left;
}

#turbo2 {
  font-family: 'Russo One', cursive;
  color: #FDAA02;
  font-size: 5em;
  float: right;
}

#score1 {
  font-family: 'Russo One', cursive;
  color: #2BE7FA;
  font-size: 2em;
  text-align: center;
}

#score2 {
  font-family: 'Russo One', cursive;
  color: #FDAA02;
  font-size: 2em;
  text-align: center;
}
.nav {
  background-color: rgba(0, 0, 0, 0.4);
}

#title {
  font-family: 'tron';
  color: white;
  font-size: 6em;
  text-align: center;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.hidden {
  display: none;
}

#reset-button {
  font-family: 'tron';
  color: white;
  font-size: 3em;
  position: absolute;
  bottom: 25% ;
  left: 42%;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

#start-game {
  font-family: 'tron';
  color: white;
  font-size: 3em;
  text-align: center;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
 padding: 1% 1% 1% 1%;
 position: absolute;
 bottom: 35% ;
 left: 40%;
}

ul{
  display: inline-block;
  list-style-type: none;

}
.modal-dialog {
  margin-top 20%;
}
.modal-body, .modal-header, .modal-footer {
  font-family: "Russo One";
  color: white;
  background-color: black;
}
.inst-sound{
  text-align: center;
}
.inst-p2 {
  padding-left: 55%;
}
#instructions {
  font-family: 'tron';
  color: white;
  font-size: 3em;
  text-align: center;

  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
 padding: 1% 1% 1% 1%;
 position: absolute;
 bottom: 27% ;
 left: 39%;
 background-color: transparent;
 border: none;
 cursor:pointer;
 outline:none;
}

#instruct-modal {
  margin-top: 10%;
}
